<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.c.dao.SwStationSpeedMapper">
  <resultMap id="BaseResultMap" type="com.c.model.SwStationSpeed">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="line" jdbcType="VARCHAR" property="line" />
    <result column="direction" jdbcType="VARCHAR" property="direction" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="acceleration" jdbcType="DOUBLE" property="acceleration" />
    <result column="currentspeed" jdbcType="DOUBLE" property="currentspeed" />
  </resultMap>


  <select id="getSpeedByLine" resultType="Map" parameterType="map">
   SELECT s.id,s.acceleration,ABS(s.currentspeed) currentspeed,s.driverstatus,s.time FROM sw_station_speed s
    WHERE s.line=#{line} AND s.direction=#{direction}
    ORDER BY s.time
  </select>
</mapper>