<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.c.dao.SwStationSpeedMapper">
  <resultMap id="BaseResultMap" type="com.c.model.SwStationSpeed">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="line" jdbcType="VARCHAR" property="line" />
    <result column="direction" jdbcType="VARCHAR" property="direction" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="acceleration" jdbcType="DOUBLE" property="acceleration" />
    <result column="currentspeed" jdbcType="DOUBLE" property="currentspeed" />
  </resultMap>


  <select id="getSpeedByLine" resultType="Map" parameterType="map">
    SELECT MAX(s.id) id,MAX(s.acceleration) acceleration,MAX(ABS(s.currentspeed)) currentspeed,MAX(s.driverstatus) driverstatus,Max(SUBSTR(s.time,1,8)) `time` FROM sw_station_speed s
    WHERE s.line=#{line} AND s.direction=#{direction}
    GROUP BY SUBSTR(s.time,1,8)
    ORDER BY `time`
  </select>
</mapper>